@using BookClient.Enum
@model BookClient.ViewModels.SearchBookViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .bookheader {
        font-size: large;
        color: #073d78;
        font-weight: bold;
    }

    .bookauthor {
        font-style: italic;
    }
</style>

<h2></h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.EditorFor(model => model.SearchField, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Search title, author ect." } })
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<hr />


@foreach (var book in Model.Books)
{
    <div class="bookheader">@book.Title</div>

    <div class="bookauthor text-muted">@string.Join(",", book.Authors.Select(a => a.AuthorName).ToArray())</div>

    <div class="text-muted">@book.Publish_time</div>

    <div>
        @Html.ActionLink("Detail", "Details", new { @id = book.Item_id })

        @if (Equals(@HttpContext.Current.Session["UpdateBookPermission"], PermissionEnum.UpdateBook.ToString()))
        {
            @Html.ActionLink("Edit", "Edit", new { @id = book.Item_id })
             @Html.ActionLink("Delete", "Delete", new { @id = book.Item_id })

        }
    </div>
    <hr />
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
